# Coursera Capstone

This repository is mainly used to implement the coursera capstone project.

The Capstone project will help us implement the knowledge obtained from the previous courses.

**Importing Necessary Libraries**

In [2]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

# import the library we use to open URLs
import urllib.request

# import the BeautifulSoup library so we can parse HTML and XML documents
from bs4 import BeautifulSoup

**Downloading Data and processing Data**

In [3]:
# specify which URL/web page we are going to be scraping
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
# open the url using urllib.request and put the HTML into the page variable
page = urllib.request.urlopen(url)
# parse the HTML from our URL into the BeautifulSoup parse tree format
soup = BeautifulSoup(page)
table = soup.findAll("table", {"class": "wikitable sortable"})

In [4]:
A=[]
B=[]
C=[]

for row in table[0].find_all('tr'):
    cells=row.find_all('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

**Removing \n from the data**

In [5]:
A1 =[]
B1=[]
C1=[]

for a in A:
    A1.append(a.split('\n')[0])
for b in B:
    B1.append(b.split('\n')[0])
for c in C:
    C1.append(c.split('\n')[0])

A = A1
B = B1
C = C1

**Creating the DataFrame

In [6]:
# define the dataframe columns
column_names = ['PostalCode','Borough', 'Neighborhood'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

neighborhoods['PostalCode'] = A
neighborhoods['Borough'] = B
neighborhoods['Neighborhood'] = C
neighborhoods.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

**Removing Borough with Not assigned as value**

In [7]:
neighborhoods = neighborhoods[neighborhoods['Borough'] != 'Not assigned']
neighborhoods = neighborhoods.reset_index(drop=True)
neighborhoods.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

**Checking for any neighbourhood with not assigned as value**

In [8]:
neighborhoods[neighborhoods['Neighborhood'] == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

**Shape of the dataframe**

In [9]:
neighborhoods.shape

(103, 3)

**Reading CSV File With Coordinates**

In [10]:
df = data = pd.read_csv("Geospatial_Coordinates.csv")
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

**Appeding Both the Dataframes into a Single DataFrame**

In [11]:
Latitude = []
Longitude = []
for pc in neighborhoods['PostalCode']:
    dfRow = df[df['Postal Code']==pc]
    Latitude.append(dfRow['Latitude'].values[0])
    Longitude.append(dfRow['Longitude'].values[0])

In [12]:
neighborhoods = neighborhoods.assign(Latitude = Latitude)

In [13]:
neighborhoods= neighborhoods.assign(Longitude = Longitude)

In [14]:
neighborhoods.shape

(103, 5)

In [16]:
neighborhoods.head(10)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village",43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937